# Queries

We will use the design produced in [004-Design](./004-Design.ipynb). Please execute that notebook first to define and populate the `app` schema.

## Recall the design

In [1]:
import datajoint as dj
schema = dj.Schema('app')
schema.spawn_missing_classes()
dj.Diagram(schema)

[2023-09-26 23:06:52,800][INFO]: Connecting root@fakeservices.datajoint.io:3306
[2023-09-26 23:06:52,811][INFO]: Connected root@fakeservices.datajoint.io:3306

In [2]:
Purchase()

*phone         *addon_id    card_number
+------------+ +----------+ +------------+
69033213933    2            60402591683
40466455515    2            60403133279
51804464715    2            60412773222
51804464715    3            60412773222
98851803995    2            60417733148
41945689731    3            60427078948
44228721095    3            60446518957
82097048047    1            60446867701
81700356994    1            60450824788
54645599699    2            60451279867
84085522668    2            60460028834
68092498318    1            60464072473
   ...
 (Total: 2040)

# Queries

## Simple queries

In [3]:
Account()

*phone         first_name     last_name     dob
+------------+ +------------+ +-----------+ +------------+
10008004398    Thomas         Li            2009-05-22
10010213238    Stacey         Mitchell      2015-10-02
10012512171    James          Henderson     1920-10-09
10017661220    Donald         Anderson      1955-04-16
10025696662    James          Small         2016-12-29
10037061898    Deborah        Foley         1929-02-06
10046294691    Gwendolyn      Turner        2020-12-19
10046839321    Marcia         Martinez      1990-07-15
10068182298    Victor         Clark         1986-09-13
10070173668    Ronald         Duffy         1969-03-23
10070547405    Leah           Pratt         1986-06-06
10079669194    Ryan           Johnson       1978-03-08
   ...
 (Total: 10001)

In [4]:
Account.fetch(as_dict=True)

[{'phone': 10008004398,
  'first_name': 'Thomas',
  'last_name': 'Li',
  'dob': datetime.date(2009, 5, 22)},
 {'phone': 10010213238,
  'first_name': 'Stacey',
  'last_name': 'Mitchell',
  'dob': datetime.date(2015, 10, 2)},
 {'phone': 10012512171,
  'first_name': 'James',
  'last_name': 'Henderson',
  'dob': datetime.date(1920, 10, 9)},
 {'phone': 10017661220,
  'first_name': 'Donald',
  'last_name': 'Anderson',
  'dob': datetime.date(1955, 4, 16)},
 {'phone': 10025696662,
  'first_name': 'James',
  'last_name': 'Small',
  'dob': datetime.date(2016, 12, 29)},
 {'phone': 10037061898,
  'first_name': 'Deborah',
  'last_name': 'Foley',
  'dob': datetime.date(1929, 2, 6)},
 {'phone': 10046294691,
  'first_name': 'Gwendolyn',
  'last_name': 'Turner',
  'dob': datetime.date(2020, 12, 19)},
 {'phone': 10046839321,
  'first_name': 'Marcia',
  'last_name': 'Martinez',
  'dob': datetime.date(1990, 7, 15)},
 {'phone': 10068182298,
  'first_name': 'Victor',
  'last_name': 'Clark',
  'dob': datetime.date(1986, 9, 13)},
 {'phone': 10070173668,
  'first_name': 'Ronald',
  'last_name': 'Duffy',
  'dob': datetime.date(1969, 3, 23)},
 {'phone': 10070547405,
  'first_name': 'Leah',
  'last_name': 'Pratt',
  'dob': datetime.date(1986, 6, 6)},
 {'phone': 10079669194,
  'first_name': 'Ryan',
  'last_name': 'Johnson',
  'dob': datetime.date(1978, 3, 8)},
 {'phone': 10092945283,
  'first_name': 'Deanna',
  'last_name': 'Hayes',
  'dob': datetime.date(2015, 8, 16)},
 {'phone': 10095918854,
  'first_name': 'Raymond',
  'last_name': 'Adams',
  'dob': datetime.date(2018, 5, 22)},
 {'phone': 10099464091,
  'first_name': 'Matthew',
  'last_name': 'Smith',
  'dob': datetime.date(1949, 5, 4)},
 {'phone': 10102995813,
  'first_name': 'David',
  'last_name': 'Young',
  'dob': datetime.date(1923, 12, 29)},
 {'phone': 10116323806,
  'first_name': 'Scott',
  'last_name': 'Hernandez',
  'dob': datetime.date(1930, 11, 1)},
 {'phone': 10120727834,
  'first_name': 'Robert',
  'last_name': 'Rodriguez',
  'dob': datetime.date(1951, 4, 10)},
 {'phone': 10127762503,
  'first_name': 'Tracy',
  'last_name': 'Mack',
  'dob': datetime.date(1970, 4, 14)},
 {'phone': 10151756488,
  'first_name': 'Chelsea',
  'last_name': 'Cox',
  'dob': datetime.date(1940, 12, 19)},
 {'phone': 10152397506,
  'first_name': 'James',
  'last_name': 'Wade',
  'dob': datetime.date(1963, 4, 15)},
 {'phone': 10153686421,
  'first_name': 'Aaron',
  'last_name': 'Bradley',
  'dob': datetime.date(1912, 2, 4)},
 {'phone': 10166849316,
  'first_name': 'Benjamin',
  'last_name': 'Gomez',
  'dob': datetime.date(1929, 4, 24)},
 {'phone': 10169406225,
  'first_name': 'Jennifer',
  'last_name': 'Reid',
  'dob': datetime.date(1954, 9, 30)},
 {'phone': 10178738339,
  'first_name': 'Sarah',
  'last_name': 'Barnes',
  'dob': datetime.date(1924, 6, 25)},
 {'phone': 10199189001,
  'first_name': 'Paul',
  'last_name': 'Johnson',
  'dob': datetime.date(1973, 8, 14)},
 {'phone': 10206755444,
  'first_name': 'Kendra',
  'last_name': 'Schaefer',
  'dob': datetime.date(1954, 12, 11)},
 {'phone': 10219719840,
  'first_name': 'Matthew',
  'last_name': 'Roberts',
  'dob': datetime.date(1979, 11, 21)},
 {'phone': 10225542960,
  'first_name': 'Shawn',
  'last_name': 'Peterson',
  'dob': datetime.date(1927, 1, 14)},
 {'phone': 10229438507,
  'first_name': 'Michael',
  'last_name': 'Coleman',
  'dob': datetime.date(1984, 11, 23)},
 {'phone': 10235975638,
  'first_name': 'Kimberly',
  'last_name': 'Novak',
  'dob': datetime.date(1913, 3, 1)},
 {'phone': 10251975990,
  'first_name': 'Daniel',
  'last_name': 'Romero',
  'dob': datetime.date(1952, 11, 22)},
 {'phone': 10269984308,
  'first_name': 'Ashley',
  'last_name': 'Page',
  'dob': datetime.date(1929, 3, 14)},
 {'phone': 10271564710,
  'first_name': 'Juan',
  'last_name': 'Cook',
  'dob': datetime.date(1951, 5, 25)},
 {'phone': 10279670908,
  'first_name': 'John',
  'last_name': 'Mullins',
  'dob': datetime.date(1944, 7, 28)},
 {'phone': 10291521740,
  'first_name': 'Melissa',
  'last_name': 'Davis',
  'dob': datetime.date(1983, 4, 26)},
 {'phone': 10293133275,
  'first_name': 'Glenn',
  'last_name': 'Diaz',
  'dob': datetime.date(2017, 9, 7)},
 {'phone': 10300923098,
  'first_name': 'Angela',
  'last_name': 'Perry',
  'dob': datetime.date(1908, 9, 10)},
 {'phone': 10303625356,
  'first_name': 'Rebecca',
  'last_name': 'Griffith',
  'dob': datetime.date(1975, 1, 10)},
 {'phone': 10313226393,
  'first_name': 'Eric',
  'last_name': 'Mann',
  'dob': datetime.date(1925, 11, 1)},
 {'phone': 10314223023,
  'first_name': 'Michelle',
  'last_name': 'Forbes',
  'dob': datetime.date(1921, 5, 17)},
 {'phone': 10322518482,
  'first_name': 'Brian',
  'last_name': 'Guzman',
  'dob': datetime.date(1946, 3, 29)},
 {'phone': 10333220637,
  'first_name': 'Ashley',
  'last_name': 'Briggs',
  'dob': datetime.date(1950, 11, 27)},
 {'phone': 10337689941,
  'first_name': 'Joshua',
  'last_name': 'Richardson',
  'dob': datetime.date(1979, 5, 9)},
 {'phone': 10357141286,
  'first_name': 'Christopher',
  'last_name': 'Morris',
  'dob': datetime.date(1932, 12, 13)},
 {'phone': 10358819974,
  'first_name': 'Christina',
  'last_name': 'Williams',
  'dob': datetime.date(1912, 3, 4)},
 {'phone': 10369946038,
  'first_name': 'Terrence',
  'last_name': 'Jones',
  'dob': datetime.date(1965, 11, 11)},
 {'phone': 10405413361,
  'first_name': 'Kristin',
  'last_name': 'Williams',
  'dob': datetime.date(1998, 8, 11)},
 {'phone': 10421485185,
  'first_name': 'Julie',
  'last_name': 'Jones',
  'dob': datetime.date(1989, 1, 11)},
 {'phone': 10422669197,
  'first_name': 'Robert',
  'last_name': 'Thomas',
  'dob': datetime.date(2012, 2, 29)},
 {'phone': 10433061621,
  'first_name': 'Mark',
  'last_name': 'Whitaker',
  'dob': datetime.date(1994, 10, 13)},
 {'phone': 10445431947,
  'first_name': 'Brandi',
  'last_name': 'Gallagher',
  'dob': datetime.date(1942, 2, 25)},
 {'phone': 10451478023,
  'first_name': 'Diane',
  'last_name': 'Davis',
  'dob': datetime.date(1919, 12, 31)},
 {'phone': 10453924485,
  'first_name': 'Terri',
  'last_name': 'Griffin',
  'dob': datetime.date(1910, 5, 30)},
 {'phone': 10454308663,
  'first_name': 'Michael',
  'last_name': 'Smith',
  'dob': datetime.date(1945, 8, 14)},
 {'phone': 10455743181,
  'first_name': 'Joseph',
  'last_name': 'Wright',
  'dob': datetime.date(1965, 9, 19)},
 {'phone': 10460216558,
  'first_name': 'Cheyenne',
  'last_name': 'Smith',
  'dob': datetime.date(1982, 6, 11)},
 {'phone': 10460768752,
  'first_name': 'Kendra',
  'last_name': 'Harris',
  'dob': datetime.date(1928, 3, 11)},
 {'phone': 10469840549,
  'first_name': 'Wendy',
  'last_name': 'Page',
  'dob': datetime.date(1936, 1, 19)},
 {'phone': 10474564084,
  'first_name': 'Michelle',
  'last_name': 'Grant',
  'dob': datetime.date(2020, 5, 2)},
 {'phone': 10477362148,
  'first_name': 'Sarah',
  'last_name': 'Wilson',
  'dob': datetime.date(2006, 2, 13)},
 {'phone': 10478678300,
  'first_name': 'Brian',
  'last_name': 'Johnson',
  'dob': datetime.date(2006, 1, 11)},
 {'phone': 10483637535,
  'first_name': 'William',
  'last_name': 'Ortiz',
  'dob': datetime.date(1972, 12, 31)},
 {'phone': 10486571108,
  'first_name': 'William',
  'last_name': 'Clark',
  'dob': datetime.date(1930, 12, 29)},
 {'phone': 10487938537,
  'first_name': 'Lisa',
  'last_name': 'Padilla',
  'dob': datetime.date(2013, 6, 10)},
 {'phone': 10496786948,
  'first_name': 'Andrew',
  'last_name': 'Carter',
  'dob': datetime.date(2001, 5, 2)},
 {'phone': 10502539419,
  'first_name': 'Zachary',
  'last_name': 'Salazar',
  'dob': datetime.date(1972, 5, 20)},
 {'phone': 10509334361,
  'first_name': 'Timothy',
  'last_name': 'Mccarthy',
  'dob': datetime.date(1952, 12, 20)},
 {'phone': 10525627170,
  'first_name': 'Stephen',
  'last_name': 'Middleton',
  'dob': datetime.date(1922, 10, 21)},
 {'phone': 10535081800,
  'first_name': 'John',
  'last_name': 'Mcmahon',
  'dob': datetime.date(1929, 1, 30)},
 {'phone': 10538550011,
  'first_name': 'Heather',
  'last_name': 'Moore',
  'dob': datetime.date(1951, 3, 31)},
 {'phone': 10558660459,
  'first_name': 'Riley',
  'last_name': 'Johnson',
  'dob': datetime.date(1991, 12, 18)},
 {'phone': 10570544388,
  'first_name': 'Norma',
  'last_name': 'Contreras',
  'dob': datetime.date(1972, 8, 1)},
 {'phone': 10606206147,
  'first_name': 'Michael',
  'last_name': 'Rasmussen',
  'dob': datetime.date(1955, 8, 11)},
 {'phone': 10633593317,
  'first_name': 'Victoria',
  'last_name': 'Bailey',
  'dob': datetime.date(1926, 7, 8)},
 {'phone': 10661381021,
  'first_name': 'Kenneth',
  'last_name': 'Shaffer',
  'dob': datetime.date(1946, 9, 7)},
 {'phone': 10682187996,
  'first_name': 'Sandra',
  'last_name': 'Hernandez',
  'dob': datetime.date(1934, 3, 11)},
 {'phone': 10683411757,
  'first_name': 'Catherine',
  'last_name': 'Thompson',
  'dob': datetime.date(1942, 7, 7)},
 {'phone': 10686247769,
  'first_name': 'Michael',
  'last_name': 'Warren',
  'dob': datetime.date(1942, 2, 11)},
 {'phone': 10707760582,
  'first_name': 'Gregory',
  'last_name': 'Jenkins',
  'dob': datetime.date(2009, 8, 18)},
 {'phone': 10718839940,
  'first_name': 'Andrew',
  'last_name': 'Robinson',
  'dob': datetime.date(1938, 1, 4)},
 {'phone': 10722472340,
  'first_name': 'Heidi',
  'last_name': 'Callahan',
  'dob': datetime.date(1932, 1, 5)},
 {'phone': 10734349722,
  'first_name': 'Kenneth',
  'last_name': 'Graves',
  'dob': datetime.date(1932, 10, 16)},
 {'phone': 10736390837,
  'first_name': 'Tyler',
  'last_name': 'Bell',
  'dob': datetime.date(2005, 2, 24)},
 {'phone': 10749885443,
  'first_name': 'Erica',
  'last_name': 'Williams',
  'dob': datetime.date(1961, 12, 15)},
 {'phone': 10754601905,
  'first_name': 'Monica',
  'last_name': 'King',
  'dob': datetime.date(1909, 8, 1)},
 {'phone': 10779778109,
  'first_name': 'Chris',
  'last_name': 'Johnson',
  'dob': datetime.date(1961, 8, 7)},
 {'phone': 10782010443,
  'first_name': 'Amber',
  'last_name': 'Walters',
  'dob': datetime.date(1933, 2, 12)},
 {'phone': 10789671183,
  'first_name': 'Michael',
  'last_name': 'Rush',
  'dob': datetime.date(1913, 12, 31)},
 {'phone': 10795604236,
  'first_name': 'Elizabeth',
  'last_name': 'Kirby',
  'dob': datetime.date(1990, 11, 15)},
 {'phone': 10807995767,
  'first_name': 'Michael',
  'last_name': 'Collins',
  'dob': datetime.date(1958, 8, 4)},
 {'phone': 10809328694,
  'first_name': 'Tammy',
  'last_name': 'Garcia',
  'dob': datetime.date(2022, 8, 7)},
 {'phone': 10830155464,
  'first_name': 'Megan',
  'last_name': 'Mejia',
  'dob': datetime.date(1996, 7, 30)},
 {'phone': 10844022864,
  'first_name': 'Gary',
  'last_name': 'Rogers',
  'dob': datetime.date(1927, 4, 10)},
 {'phone': 10852186030,
  'first_name': 'Tracie',
  'last_name': 'Barrera',
  'dob': datetime.date(1977, 7, 21)},
 {'phone': 10856332024,
  'first_name': 'Cynthia',
  'last_name': 'Powell',
  'dob': datetime.date(1961, 1, 5)},
 {'phone': 10862836412,
  'first_name': 'Randy',
  'last_name': 'Sanchez',
  'dob': datetime.date(2018, 9, 21)},
 {'phone': 10866470978,
  'first_name': 'Jessica',
  'last_name': 'Martin',
  'dob': datetime.date(2007, 5, 24)},
 {'phone': 10867675149,
  'first_name': 'Diana',
  'last_name': 'Cole',
  'dob': datetime.date(1932, 8, 30)},
 {'phone': 10911380295,
  'first_name': 'Elizabeth',
  'last_name': 'Adams',
  'dob': datetime.date(1932, 3, 10)},
 {'phone': 10934227204,
  'first_name': 'Michael',
  'last_name': 'Nielsen',
  'dob': datetime.date(2011, 1, 2)},
 {'phone': 10943944657,
  'first_name': 'John',
  'last_name': 'Gonzalez',
  'dob': datetime.date(1924, 8, 16)},
 {'phone': 10952154977,
  'first_name': 'Martha',
  'last_name': 'Garcia',
  'dob': datetime.date(1918, 11, 26)},
 {'phone': 10972296805,
  'first_name': 'Matthew',
  'last_name': 'Gardner',
  'dob': datetime.date(1939, 7, 21)},
 {'phone': 10975381325,
  'first_name': 'Donald',
  'last_name': 'Craig',
  'dob': datetime.date(1989, 2, 19)},
 {'phone': 11003850518,
  'first_name': 'Brian',
  'last_name': 'Allen',
  'dob': datetime.date(1932, 9, 27)},
 {'phone': 11010697385,
  'first_name': 'Robert',
  'last_name': 'Smith',
  'dob': datetime.date(1938, 12, 28)},
 {'phone': 11024050487,
  'first_name': 'Michael',
  'last_name': 'Roberson',
  'dob': datetime.date(1959, 5, 27)},
 {'phone': 11035029142,
  'first_name': 'Jose',
  'last_name': 'Allen',
  'dob': datetime.date(1991, 10, 4)},
 {'phone': 11042206328,
  'first_name': 'Brittany',
  'last_name': 'Wilson',
  'dob': datetime.date(2015, 6, 26)},
 {'phone': 11044830752,
  'first_name': 'Robert',
  'last_name': 'Wilson',
  'dob': datetime.date(1968, 2, 5)},
 {'phone': 11066312939,
  'first_name': 'Kayla',
  'last_name': 'Swanson',
  'dob': datetime.date(2016, 8, 17)},
 {'phone': 11075734139,
  'first_name': 'Kenneth',
  'last_name': 'Sanchez',
  'dob': datetime.date(1997, 9, 17)},
 {'phone': 11089394344,
  'first_name': 'Joshua',
  'last_name': 'Sparks',
  'dob': datetime.date(1982, 8, 6)},
 {'phone': 11110295679,
  'first_name': 'Barbara',
  'last_name': 'Campbell',
  'dob': datetime.date(1969, 6, 19)},
 {'phone': 11128245938,
  'first_name': 'Laurie',
  'last_name': 'Smith',
  'dob': datetime.date(1963, 3, 7)},
 {'phone': 11157317272,
  'first_name': 'Kayla',
  'last_name': 'Ruiz',
  'dob': datetime.date(1986, 5, 29)},
 {'phone': 11158833057,
  'first_name': 'Brian',
  'last_name': 'Chung',
  'dob': datetime.date(1983, 10, 17)},
 {'phone': 11168176450,
  'first_name': 'Kenneth',
  'last_name': 'Wilson',
  'dob': datetime.date(1990, 2, 24)},
 {'phone': 11180863670,
  'first_name': 'Joseph',
  'last_name': 'Leonard',
  'dob': datetime.date(1918, 5, 20)},
 {'phone': 11181317738,
  'first_name': 'Michelle',
  'last_name': 'Morris',
  'dob': datetime.date(1963, 8, 9)},
 {'phone': 11194304584,
  'first_name': 'Matthew',
  'last_name': 'Lucas',
  'dob': datetime.date(2003, 3, 25)},
 {'phone': 11213984269,
  'first_name': 'Andrea',
  'last_name': 'Montgomery',
  'dob': datetime.date(1952, 6, 28)},
 {'phone': 11216696015,
  'first_name': 'Elizabeth',
  'last_name': 'Perez',
  'dob': datetime.date(2019, 8, 8)},
 {'phone': 11221407194,
  'first_name': 'Justin',
  'last_name': 'Nelson',
  'dob': datetime.date(1953, 4, 11)},
 {'phone': 11227793778,
  'first_name': 'Ryan',
  'last_name': 'Smith',
  'dob': datetime.date(1933, 9, 30)},
 {'phone': 11233520267,
  'first_name': 'Darryl',
  'last_name': 'Thompson',
  'dob': datetime.date(1953, 4, 15)},
 {'phone': 11235331836,
  'first_name': 'Matthew',
  'last_name': 'Miller',
  'dob': datetime.date(1955, 2, 1)},
 {'phone': 11237488318,
  'first_name': 'Carol',
  'last_name': 'Wagner',
  'dob': datetime.date(1928, 4, 16)},
 {'phone': 11238949362,
  'first_name': 'Jacqueline',
  'last_name': 'Cox',
  'dob': datetime.date(1908, 8, 16)},
 {'phone': 11241670516,
  'first_name': 'James',
  'last_name': 'Jackson',
  'dob': datetime.date(1995, 6, 20)},
 {'phone': 11262049022,
  'first_name': 'Danielle',
  'last_name': 'Griffith',
  'dob': datetime.date(1940, 7, 21)},
 {'phone': 11268295810,
  'first_name': 'Rebecca',
  'last_name': 'Taylor',
  'dob': datetime.date(1964, 3, 28)},
 {'phone': 11279950296,
  'first_name': 'Lance',
  'last_name': 'Lynch',
  'dob': datetime.date(1999, 3, 15)},
 {'phone': 11286842679,
  'first_name': 'Henry',
  'last_name': 'Dean',
  'dob': datetime.date(1920, 6, 6)},
 {'phone': 11298970536,
  'first_name': 'Philip',
  'last_name': 'Kim',
  'dob': datetime.date(2012, 1, 7)},
 {'phone': 11315500063,
  'first_name': 'Sydney',
  'last_name': 'Blair',
  'dob': datetime.date(1940, 7, 14)},
 {'phone': 11326554269,
  'first_name': 'Margaret',
  'last_name': 'Harris',
  'dob': datetime.date(1929, 8, 27)},
 {'phone': 11329414645,
  'first_name': 'Katherine',
  'last_name': 'Bell',
  'dob': datetime.date(1923, 10, 26)},
 {'phone': 11340675616,
  'first_name': 'Gary',
  'last_name': 'Santana',
  'dob': datetime.date(1960, 3, 18)},
 {'phone': 11344578831,
  'first_name': 'Holly',
  'last_name': 'Mays',
  'dob': datetime.date(1992, 7, 7)},
 {'phone': 11363477005,
  'first_name': 'James',
  'last_name': 'Norton',
  'dob': datetime.date(1955, 11, 10)},
 {'phone': 11364365850,
  'first_name': 'Tracy',
  'last_name': 'Johnson',
  'dob': datetime.date(1944, 6, 25)},
 {'phone': 11365145761,
  'first_name': 'Curtis',
  'last_name': 'Manning',
  'dob': datetime.date(1954, 6, 9)},
 {'phone': 11371409104,
  'first_name': 'Kristy',
  'last_name': 'Rubio',
  'dob': datetime.date(1938, 12, 10)},
 {'phone': 11381278848,
  'first_name': 'Kenneth',
  'last_name': 'Mitchell',
  'dob': datetime.date(1911, 8, 12)},
 {'phone': 11396062679,
  'first_name': 'Carolyn',
  'last_name': 'Martinez',
  'dob': datetime.date(1965, 12, 26)},
 {'phone': 11414807798,
  'first_name': 'Danielle',
  'last_name': 'Cole',
  'dob': datetime.date(1917, 7, 25)},
 {'phone': 11425252270,
  'first_name': 'Jasmine',
  'last_name': 'King',
  'dob': datetime.date(1974, 10, 30)},
 {'phone': 11437113213,
  'first_name': 'Monica',
  'last_name': 'Singleton',
  'dob': datetime.date(1909, 3, 16)},
 {'phone': 11470574946,
  'first_name': 'Michael',
  'last_name': 'Wilson',
  'dob': datetime.date(2019, 12, 14)},
 {'phone': 11497815132,
  'first_name': 'Chad',
  'last_name': 'Wright',
  'dob': datetime.date(1947, 9, 14)},
 {'phone': 11501981572,
  'first_name': 'Brian',
  'last_name': 'Barry',
  'dob': datetime.date(1918, 12, 21)},
 {'phone': 11509142372,
  'first_name': 'Douglas',
  'last_name': 'Moore',
  'dob': datetime.date(1969, 2, 8)},
 {'phone': 11516051129,
  'first_name': 'Jennifer',
  'last_name': 'Miller',
  'dob': datetime.date(2009, 7, 11)},
 {'phone': 11517267921,
  'first_name': 'Elizabeth',
  'last_name': 'Ortega',
  'dob': datetime.date(1986, 11, 16)},
 {'phone': 11524487129,
  'first_name': 'Ryan',
  'last_name': 'Wilson',
  'dob': datetime.date(1998, 6, 30)},
 {'phone': 11527333156,
  'first_name': 'Linda',
  'last_name': 'Allen',
  'dob': datetime.date(1980, 11, 2)},
 {'phone': 11532979051,
  'first_name': 'Debbie',
  'last_name': 'Erickson',
  'dob': datetime.date(1943, 8, 5)},
 {'phone': 11536469427,
  'first_name': 'Andrew',
  'last_name': 'Hayes',
  'dob': datetime.date(2003, 12, 2)},
 {'phone': 11539222248,
  'first_name': 'David',
  'last_name': 'Briggs',
  'dob': datetime.date(1976, 12, 26)},
 {'phone': 11545066688,
  'first_name': 'Natalie',
  'last_name': 'Jensen',
  'dob': datetime.date(1908, 3, 17)},
 {'phone': 11549404092,
  'first_name': 'Lisa',
  'last_name': 'Harrison',
  'dob': datetime.date(1985, 6, 25)},
 {'phone': 11555583303,
  'first_name': 'Anna',
  'last_name': 'White',
  'dob': datetime.date(1975, 3, 6)},
 {'phone': 11559178471,
  'first_name': 'Amber',
  'last_name': 'Walker',
  'dob': datetime.date(1947, 6, 5)},
 {'phone': 11564651906,
  'first_name': 'Emma',
  'last_name': 'Wolfe',
  'dob': datetime.date(1996, 7, 7)},
 {'phone': 11574081933,
  'first_name': 'Jacqueline',
  'last_name': 'White',
  'dob': datetime.date(1960, 7, 23)},
 {'phone': 11576811576,
  'first_name': 'Gene',
  'last_name': 'Carter',
  'dob': datetime.date(1950, 9, 4)},
 {'phone': 11592324905,
  'first_name': 'Molly',
  'last_name': 'Gutierrez',
  'dob': datetime.date(1972, 7, 8)},
 {'phone': 11605804700,
  'first_name': 'Brenda',
  'last_name': 'Johnson',
  'dob': datetime.date(1971, 11, 21)},
 {'phone': 11616980682,
  'first_name': 'Jennifer',
  'last_name': 'Ochoa',
  'dob': datetime.date(1997, 10, 21)},
 {'phone': 11617792830,
  'first_name': 'Maria',
  'last_name': 'Lopez',
  'dob': datetime.date(2022, 2, 3)},
 {'phone': 11634297778,
  'first_name': 'Charles',
  'last_name': 'Smith',
  'dob': datetime.date(2002, 10, 10)},
 {'phone': 11649738915,
  'first_name': 'Bruce',
  'last_name': 'Bryant',
  'dob': datetime.date(1919, 3, 9)},
 {'phone': 11651237245,
  'first_name': 'Brittney',
  'last_name': 'Hill',
  'dob': datetime.date(2022, 2, 26)},
 {'phone': 11655227583,
  'first_name': 'Natalie',
  'last_name': 'Harper',
  'dob': datetime.date(2007, 12, 19)},
 {'phone': 11676897906,
  'first_name': 'Nancy',
  'last_name': 'Williams',

In [5]:
Account.fetch(as_dict=True, order_by=('last_name', 'first_name'), limit=10)

[{'phone': 51444261372,
  'first_name': 'Alexis',
  'last_name': 'Abbott',
  'dob': datetime.date(1991, 7, 17)},
 {'phone': 71380323330,
  'first_name': 'Emily',
  'last_name': 'Abbott',
  'dob': datetime.date(1913, 10, 23)},
 {'phone': 53177609092,
  'first_name': 'Gregory',
  'last_name': 'Abbott',
  'dob': datetime.date(1930, 4, 21)},
 {'phone': 66079291453,
  'first_name': 'Stephen',
  'last_name': 'Abbott',
  'dob': datetime.date(1916, 9, 7)},
 {'phone': 27358861634,
  'first_name': 'Brandon',
  'last_name': 'Acevedo',
  'dob': datetime.date(1909, 1, 10)},
 {'phone': 98247453638,
  'first_name': 'James',
  'last_name': 'Acevedo',
  'dob': datetime.date(2016, 2, 8)},
 {'phone': 46008885354,
  'first_name': 'Steven',
  'last_name': 'Acevedo',
  'dob': datetime.date(1984, 7, 23)},
 {'phone': 35132860303,
  'first_name': 'Joanna',
  'last_name': 'Acosta',
  'dob': datetime.date(1941, 1, 4)},
 {'phone': 11740091844,
  'first_name': 'Larry',
  'last_name': 'Acosta',
  'dob': datetime.date(1948, 3, 18)},
 {'phone': 25514353782,
  'first_name': 'Lauren',
  'last_name': 'Acosta',
  'dob': datetime.date(1952, 3, 14)}]

In [9]:
Account.fetch(as_dict=True, order_by=('dob DESC'), limit=10, offset=100)

[{'phone': 53932761114,
  'first_name': 'Sara',
  'last_name': 'Shelton',
  'dob': datetime.date(2022, 8, 20)},
 {'phone': 60517459688,
  'first_name': 'Shawn',
  'last_name': 'Cross',
  'dob': datetime.date(2022, 8, 10)},
 {'phone': 10809328694,
  'first_name': 'Tammy',
  'last_name': 'Garcia',
  'dob': datetime.date(2022, 8, 7)},
 {'phone': 66955470314,
  'first_name': 'Kenneth',
  'last_name': 'Sparks',
  'dob': datetime.date(2022, 8, 5)},
 {'phone': 29576059858,
  'first_name': 'Zachary',
  'last_name': 'Ferguson',
  'dob': datetime.date(2022, 8, 2)},
 {'phone': 88537153513,
  'first_name': 'Adam',
  'last_name': 'Thomas',
  'dob': datetime.date(2022, 7, 24)},
 {'phone': 72212204485,
  'first_name': 'Daniel',
  'last_name': 'Hutchinson',
  'dob': datetime.date(2022, 7, 18)},
 {'phone': 63094466207,
  'first_name': 'Lonnie',
  'last_name': 'Tyler',
  'dob': datetime.date(2022, 7, 15)},
 {'phone': 57745712433,
  'first_name': 'Justin',
  'last_name': 'Miles',
  'dob': datetime.date(2022, 7, 10)},
 {'phone': 69235537483,
  'first_name': 'Michael',
  'last_name': 'Taylor',
  'dob': datetime.date(2022, 7, 10)}]

## Restriction (selecting rows)
In SQL, this is the `WHERE` clause. In DataJoint, we use operators `&` and `-`.

In [10]:
Account() & {'phone': 69235537483}

*phone         first_name     last_name     dob
+------------+ +------------+ +-----------+ +------------+
69235537483    Michael        Taylor        2022-07-10
 (Total: 1)

In [11]:
Account() & {'first_name': 'Michael'}

*phone         first_name     last_name     dob
+------------+ +------------+ +-----------+ +------------+
10229438507    Michael        Coleman       1984-11-23
10454308663    Michael        Smith         1945-08-14
10606206147    Michael        Rasmussen     1955-08-11
10686247769    Michael        Warren        1942-02-11
10789671183    Michael        Rush          1913-12-31
10807995767    Michael        Collins       1958-08-04
10934227204    Michael        Nielsen       2011-01-02
11024050487    Michael        Roberson      1959-05-27
11470574946    Michael        Wilson        2019-12-14
11830659746    Michael        Rodriguez     1936-11-20
12284064601    Michael        Davis         1917-09-07
12573843141    Michael        Simmons       1933-07-27
   ...
 (Total: 243)

In [13]:
Account & 'first_name="Michael"'

*phone         first_name     last_name     dob
+------------+ +------------+ +-----------+ +------------+
10229438507    Michael        Coleman       1984-11-23
10454308663    Michael        Smith         1945-08-14
10606206147    Michael        Rasmussen     1955-08-11
10686247769    Michael        Warren        1942-02-11
10789671183    Michael        Rush          1913-12-31
10807995767    Michael        Collins       1958-08-04
10934227204    Michael        Nielsen       2011-01-02
11024050487    Michael        Roberson      1959-05-27
11470574946    Michael        Wilson        2019-12-14
11830659746    Michael        Rodriguez     1936-11-20
12284064601    Michael        Davis         1917-09-07
12573843141    Michael        Simmons       1933-07-27
   ...
 (Total: 243)

In [18]:
Account & 'first_name="Anne"' & 'dob > "2001-01-01"'

*phone         first_name     last_name     dob
+------------+ +------------+ +-----------+ +------------+
26784298578    Anne           Weber         2015-04-09
56997124464    Anne           Harris        2006-12-27
71445368084    Anne           Joseph        2004-01-31
80176672017    Anne           Garcia        2009-09-18
 (Total: 4)

In [24]:
Account & 'DATEDIFF(now(), dob) < 300'

*phone         first_name     last_name     dob
+------------+ +------------+ +-----------+ +------------+
11866584516    Russell        Kennedy       2023-07-11
13472726485    Robert         Jensen        2023-03-13
16670831184    Linda          Clay          2023-05-08
19363171118    Logan          Brooks        2023-04-26
20316740126    Cindy          Bishop        2023-09-20
22318026657    Christopher    Chavez        2023-03-07
22969160297    Rachel         Holmes        2023-03-12
23952589751    William        Webb          2023-08-06
24814918574    Aaron          Butler        2023-04-05
25922340862    Sharon         Santiago      2023-03-24
27111673313    Sarah          Trevino       2023-04-16
27150590622    Thomas         Brown         2023-08-14
   ...
 (Total: 68)

In [25]:
Account - 'DATEDIFF(now(), dob) < 300'

*phone         first_name     last_name     dob
+------------+ +------------+ +-----------+ +------------+
10008004398    Thomas         Li            2009-05-22
10010213238    Stacey         Mitchell      2015-10-02
10012512171    James          Henderson     1920-10-09
10017661220    Donald         Anderson      1955-04-16
10025696662    James          Small         2016-12-29
10037061898    Deborah        Foley         1929-02-06
10046294691    Gwendolyn      Turner        2020-12-19
10046839321    Marcia         Martinez      1990-07-15
10068182298    Victor         Clark         1986-09-13
10070173668    Ronald         Duffy         1969-03-23
10070547405    Leah           Pratt         1986-06-06
10079669194    Ryan           Johnson       1978-03-08
   ...
 (Total: 9933)

In [31]:
millennials = Account & 'dob > "1978-01-01"' & 'dob < "1997-01-01"'

In [33]:
millennials & 'first_name="Michael"'

*phone         first_name     last_name     dob
+------------+ +------------+ +-----------+ +------------+
10229438507    Michael        Coleman       1984-11-23
15111017913    Michael        Taylor        1996-02-26
16036134391    Michael        Ford          1978-09-16
16624858863    Michael        Miles         1991-11-14
17173339412    Michael        Morse         1978-09-07
21348118081    Michael        Davila        1979-02-06
22741631510    Michael        Williams      1986-01-09
23202751730    Michael        Dennis        1988-07-27
24034846216    Michael        Thompson      1991-01-20
24551728814    Michael        Farrell       1995-09-23
25288932813    Michael        Johnson       1984-10-10
25485068077    Michael        Barnes        1980-10-15
   ...
 (Total: 46)

In [36]:
millennials = Account & 'dob BETWEEN "1978-01-01" AND "1997-01-01"'

In [37]:
millennials

*phone         first_name     last_name      dob
+------------+ +------------+ +------------+ +------------+
10046839321    Marcia         Martinez       1990-07-15
10068182298    Victor         Clark          1986-09-13
10070547405    Leah           Pratt          1986-06-06
10079669194    Ryan           Johnson        1978-03-08
10219719840    Matthew        Roberts        1979-11-21
10229438507    Michael        Coleman        1984-11-23
10291521740    Melissa        Davis          1983-04-26
10337689941    Joshua         Richardson     1979-05-09
10421485185    Julie          Jones          1989-01-11
10433061621    Mark           Whitaker       1994-10-13
10460216558    Cheyenne       Smith          1982-06-11
10558660459    Riley          Johnson        1991-12-18
   ...
 (Total: 1562)

# Projection (selecting, calculating, and renaming columns)

In [38]:
Account()

*phone         first_name     last_name     dob
+------------+ +------------+ +-----------+ +------------+
10008004398    Thomas         Li            2009-05-22
10010213238    Stacey         Mitchell      2015-10-02
10012512171    James          Henderson     1920-10-09
10017661220    Donald         Anderson      1955-04-16
10025696662    James          Small         2016-12-29
10037061898    Deborah        Foley         1929-02-06
10046294691    Gwendolyn      Turner        2020-12-19
10046839321    Marcia         Martinez      1990-07-15
10068182298    Victor         Clark         1986-09-13
10070173668    Ronald         Duffy         1969-03-23
10070547405    Leah           Pratt         1986-06-06
10079669194    Ryan           Johnson       1978-03-08
   ...
 (Total: 10001)

In [39]:
Account.proj()

*phone
+------------+
10008004398
10010213238
10012512171
10017661220
10025696662
10037061898
10046294691
10046839321
10068182298
10070173668
10070547405
10079669194
   ...
 (Total: 10001)

In [42]:
Account.proj('last_name')

*phone         last_name
+------------+ +-----------+
10008004398    Li
10010213238    Mitchell
10012512171    Henderson
10017661220    Anderson
10025696662    Small
10037061898    Foley
10046294691    Turner
10046839321    Martinez
10068182298    Clark
10070173668    Duffy
10070547405    Pratt
10079669194    Johnson
   ...
 (Total: 10001)

In [44]:
Account.proj(..., '-dob')

*phone         first_name     last_name
+------------+ +------------+ +-----------+
10008004398    Thomas         Li
10010213238    Stacey         Mitchell
10012512171    James          Henderson
10017661220    Donald         Anderson
10025696662    James          Small
10037061898    Deborah        Foley
10046294691    Gwendolyn      Turner
10046839321    Marcia         Martinez
10068182298    Victor         Clark
10070173668    Ronald         Duffy
10070547405    Leah           Pratt
10079669194    Ryan           Johnson
   ...
 (Total: 10001)

In [47]:
full_name = Account.proj(full_name='concat(last_name, ", ", first_name)')

In [51]:
d = full_name.fetch(order_by="full_name", format="frame")

In [52]:
d

                    full_name
phone
51444261372    Abbott, Alexis
71380323330     Abbott, Emily
53177609092   Abbott, Gregory
66079291453   Abbott, Stephen
27358861634  Acevedo, Brandon
...                       ...
67805643956     Zuniga, Chris
73169559080     Zuniga, Erica
20170335500    Zuniga, Rachel
93436697026   Zuniga, Spencer
60580791112    Zuniga, Tracey

[10001 rows x 1 columns]

In [59]:
accounts = Account.proj('last_name', age="floor(datediff(now(), dob)/365.25)")

In [60]:
accounts & 'age > 35'

*phone         last_name     age
+------------+ +-----------+ +-----+
10012512171    Henderson     102
10017661220    Anderson      68
10037061898    Foley         94
10068182298    Clark         37
10070173668    Duffy         54
10070547405    Pratt         37
10079669194    Johnson       45
10099464091    Smith         74
10102995813    Young         99
10116323806    Hernandez     92
10120727834    Rodriguez     72
10127762503    Mack          53
   ...
 (Total: 6896)

In [64]:
accounts & 'age between 35 and 45'

*phone         last_name      age
+------------+ +------------+ +-----+
10068182298    Clark          37
10070547405    Pratt          37
10079669194    Johnson        45
10219719840    Roberts        43
10229438507    Coleman        38
10291521740    Davis          40
10337689941    Richardson     44
10460216558    Smith          41
11089394344    Sparks         41
11157317272    Ruiz           37
11158833057    Chung          39
11517267921    Ortega         36
   ...
 (Total: 893)

In [70]:
Account().proj(..., id='phone', name='(first_name)')

*id            first_name     name          last_name     dob
+------------+ +------------+ +-----------+ +-----------+ +------------+
10008004398    Thomas         Thomas        Li            2009-05-22
10010213238    Stacey         Stacey        Mitchell      2015-10-02
10012512171    James          James         Henderson     1920-10-09
10017661220    Donald         Donald        Anderson      1955-04-16
10025696662    James          James         Small         2016-12-29
10037061898    Deborah        Deborah       Foley         1929-02-06
10046294691    Gwendolyn      Gwendolyn     Turner        2020-12-19
10046839321    Marcia         Marcia        Martinez      1990-07-15
10068182298    Victor         Victor        Clark         1986-09-13
10070173668    Ronald         Ronald        Duffy         1969-03-23
10070547405    Leah           Leah          Pratt         1986-06-06
10079669194    Ryan           Ryan          Johnson       1978-03-08
   ...
 (Total: 10001)

In [72]:
(Account & 'last_name > "S"').proj()

*phone
+------------+
10025696662
10046294691
10099464091
10102995813
10152397506
10206755444
10358819974
10405413361
10422669197
10433061621
10454308663
10455743181
   ...
 (Total: 2225)

# Restrictions by a query
In SQL, this is a query where the `WHERE` clause includes another `SELECT`` clause.

In [74]:
dj.Diagram(schema)

In [76]:
Account & CreditCard

*phone         first_name     last_name     dob
+------------+ +------------+ +-----------+ +------------+
10012512171    James          Henderson     1920-10-09
10017661220    Donald         Anderson      1955-04-16
10037061898    Deborah        Foley         1929-02-06
10046294691    Gwendolyn      Turner        2020-12-19
10046839321    Marcia         Martinez      1990-07-15
10079669194    Ryan           Johnson       1978-03-08
10099464091    Matthew        Smith         1949-05-04
10102995813    David          Young         1923-12-29
10116323806    Scott          Hernandez     1930-11-01
10120727834    Robert         Rodriguez     1951-04-10
10151756488    Chelsea        Cox           1940-12-19
10153686421    Aaron          Bradley       1912-02-04
   ...
 (Total: 7768)

In [77]:
Account - CreditCard

*phone         first_name     last_name     dob
+------------+ +------------+ +-----------+ +------------+
10008004398    Thomas         Li            2009-05-22
10010213238    Stacey         Mitchell      2015-10-02
10025696662    James          Small         2016-12-29
10068182298    Victor         Clark         1986-09-13
10070173668    Ronald         Duffy         1969-03-23
10070547405    Leah           Pratt         1986-06-06
10092945283    Deanna         Hayes         2015-08-16
10095918854    Raymond        Adams         2018-05-22
10127762503    Tracy          Mack          1970-04-14
10152397506    James          Wade          1963-04-15
10271564710    Juan           Cook          1951-05-25
10313226393    Eric           Mann          1925-11-01
   ...
 (Total: 2233)

In [83]:
# All the people that purchased AddOn #2.
Account & (Purchase & 'addon_id=2')

*phone         first_name     last_name     dob
+------------+ +------------+ +-----------+ +------------+
10153686421    Aaron          Bradley       1912-02-04
10291521740    Melissa        Davis         1983-04-26
10451478023    Diane          Davis         1919-12-31
10496786948    Andrew         Carter        2001-05-02
10734349722    Kenneth        Graves        1932-10-16
10782010443    Amber          Walters       1933-02-12
10844022864    Gary           Rogers        1927-04-10
10862836412    Randy          Sanchez       2018-09-21
11194304584    Matthew        Lucas         2003-03-25
11221407194    Justin         Nelson        1953-04-11
11279950296    Lance          Lynch         1999-03-15
11545066688    Natalie        Jensen        1908-03-17
   ...
 (Total: 660)

In [88]:
# Give me all accounts who have purchased both Addon 2 and 3
Account & (Purchase & 'addon_id=2') & (Purchase & 'addon_id=3')

*phone         first_name     last_name     dob
+------------+ +------------+ +-----------+ +------------+
10496786948    Andrew         Carter        2001-05-02
11883734808    Philip         Black         2014-01-10
12328381833    Louis          Davis         1946-10-09
12966892803    Kathryn        Norman        1913-02-27
15503931605    Robert         Adams         1921-06-04
16065195696    Mathew         Johnson       1981-11-10
16266465922    Mary           Mcpherson     2003-11-23
17386440647    Caleb          Roth          1953-04-11
18690145667    Caleb          Parks         2012-04-18
19361732502    Rodney         Wise          1934-08-11
21566103221    Michael        Guerrero      1971-07-15
23868945012    Tristan        Lopez         1992-01-20
   ...
 (Total: 66)

In [90]:
# Give me all accounts who have purchased Addon 2 or 3
Account & (Purchase & 'addon_id=2 OR addon_id=3')
Account & (Purchase & 'addon_id in (2, 3)')
Account & (Purchase & ['addon_id=3', 'addon_id=2'])

*phone         first_name     last_name     dob
+------------+ +------------+ +-----------+ +------------+
10153686421    Aaron          Bradley       1912-02-04
10166849316    Benjamin       Gomez         1929-04-24
10291521740    Melissa        Davis         1983-04-26
10303625356    Rebecca        Griffith      1975-01-10
10451478023    Diane          Davis         1919-12-31
10496786948    Andrew         Carter        2001-05-02
10535081800    John           Mcmahon       1929-01-30
10661381021    Kenneth        Shaffer       1946-09-07
10722472340    Heidi          Callahan      1932-01-05
10734349722    Kenneth        Graves        1932-10-16
10782010443    Amber          Walters       1933-02-12
10789671183    Michael        Rush          1913-12-31
   ...
 (Total: 1284)

In [86]:
# Give me all accounts who have purchased Addon 2 but not 3

In [92]:
# Accounts with credit cards that have no purchases
Account & (CreditCard - Purchase)

*phone         first_name     last_name     dob
+------------+ +------------+ +-----------+ +------------+
10012512171    James          Henderson     1920-10-09
10017661220    Donald         Anderson      1955-04-16
10037061898    Deborah        Foley         1929-02-06
10046294691    Gwendolyn      Turner        2020-12-19
10046839321    Marcia         Martinez      1990-07-15
10079669194    Ryan           Johnson       1978-03-08
10099464091    Matthew        Smith         1949-05-04
10102995813    David          Young         1923-12-29
10116323806    Scott          Hernandez     1930-11-01
10120727834    Robert         Rodriguez     1951-04-10
10151756488    Chelsea        Cox           1940-12-19
10153686421    Aaron          Bradley       1912-02-04
   ...
 (Total: 7304)

In [96]:
# Accounts with credit cards but no purchases
(Account & CreditCard) - Purchase

*phone         first_name     last_name     dob
+------------+ +------------+ +-----------+ +------------+
10012512171    James          Henderson     1920-10-09
10017661220    Donald         Anderson      1955-04-16
10037061898    Deborah        Foley         1929-02-06
10046294691    Gwendolyn      Turner        2020-12-19
10046839321    Marcia         Martinez      1990-07-15
10079669194    Ryan           Johnson       1978-03-08
10099464091    Matthew        Smith         1949-05-04
10102995813    David          Young         1923-12-29
10116323806    Scott          Hernandez     1930-11-01
10120727834    Robert         Rodriguez     1951-04-10
10151756488    Chelsea        Cox           1940-12-19
10169406225    Jennifer       Reid          1954-09-30
   ...
 (Total: 5936)

## DeMorgan's Laws

NOT (A OR B) == NOT A AND NOT B
NOT (A AND B) == NOT A OR NOT B

NOT (A AND NOT B) == NOT A OR B